html{
    margin:0px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
}
h2{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.head{
    background-color:#16423C;
    color:#E9EFEC;
    text-align: center;
    padding:10px
}
.light{
    margin: 0px;
    background-color:#E9EFEC;
    padding:10px;
}
.dark{
    background-color:#16423C;
    color:#E9EFEC;
    padding:10px;
}
a{
    color:white
}
